.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.testimonial-container h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #1d4474;
}

.testimonial-container .testimonial-box {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin-bottom: 25px;
}